header{
  position: fixed;
  top: 0;
  z-index: 1000; 
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 76px;
  background-color: white;
}

figure{
  margin: 0;
  cursor: pointer;
}

button{
  padding: 10px 20px;
  background-color: rgba(93, 55, 243, 1);
  border: 0;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}