<header>
  <nav class="navbar">
    <figure>
      <img src="../../../assets/LOGO-02 3.png" alt="" routerLink="">
    </figure>
  </nav>
</header>


<section id="addBlog">

  <a class="back" routerLink="">
    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M2 9C2.55228 9 3 8.55228 3 8C3 7.44772 2.55228 7 2 7L2 9ZM1.19289 7.29289C0.802369 7.68342 0.802369 8.31658 1.19289 8.70711L7.55685 15.0711C7.94738 15.4616 8.58054 15.4616 8.97107 15.0711C9.36159 14.6805 9.36159 14.0474 8.97107 13.6569L3.31421 8L8.97107 2.34315C9.36159 1.95262 9.36159 1.31946 8.97107 0.928932C8.58054 0.538407 7.94738 0.538407 7.55685 0.928932L1.19289 7.29289ZM2 7L1.9 7L1.9 9L2 9L2 7Z"
        fill="black" />
    </svg>
  </a>

  <h1 class="title">ბლოგის დამატება</h1>

  <form action="" class="blog-form" [formGroup]="addBlogForm" (ngSubmit)="OnFormSubmitted()">
    <div>
      <p class="input-title" style="margin-bottom: 7px;">ატვირთეთ ფოტო</p>
      <input type="file" accept="image/*" #fileInput style="display: none;" (change)="handleFileInput($event)">
      <div *ngIf="showUpload" (click)="fileInput.click()" class="upload-photo"
        [class.upload-normal]="!photoValidateSuccess" [class.upload-error]="setBorder"
        (dragover)="handleFileInput($event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <path opacity="0.4"
            d="M36.233 15.7333H3.33301V10.7C3.33301 6.63333 6.63301 3.33333 10.6997 3.33333H14.583C17.2997 3.33333 18.1497 4.21667 19.233 5.66667L21.5663 8.76667C22.083 9.45 22.1497 9.55 23.1163 9.55H27.7663C31.7163 9.53333 35.083 12.1333 36.233 15.7333Z"
            fill="#5D37F3" />
          <path
            d="M36.6497 18.0667C36.6163 17.25 36.483 16.4833 36.233 15.7333H3.33301V27.75C3.33301 32.6667 7.33301 36.6667 12.2497 36.6667H27.7497C32.6663 36.6667 36.6663 32.6667 36.6663 27.75V18.45C36.6663 18.3333 36.6663 18.1833 36.6497 18.0667ZM24.1663 27.0833H21.3497V30C21.3497 30.6833 20.783 31.25 20.0997 31.25C19.4163 31.25 18.8497 30.6833 18.8497 30V27.0833H15.833C15.1497 27.0833 14.583 26.5167 14.583 25.8333C14.583 25.15 15.1497 24.5833 15.833 24.5833H18.8497V21.6667C18.8497 20.9833 19.4163 20.4167 20.0997 20.4167C20.783 20.4167 21.3497 20.9833 21.3497 21.6667V24.5833H24.1663C24.8497 24.5833 25.4163 25.15 25.4163 25.8333C25.4163 26.5167 24.8497 27.0833 24.1663 27.0833Z"
            fill="#5D37F3" />
        </svg>
        <p class="upload-text">ჩააგდეთ ფაილი აქ ან <strong style="text-decoration: underline;">აირჩიეთ ფაილი</strong>
        </p>
      </div>

      <div *ngIf="!showUpload" class="uploaded">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path opacity="0.4"
              d="M22 7.81V13.9L20.37 12.5C19.59 11.83 18.33 11.83 17.55 12.5L13.39 16.07C12.61 16.74 11.35 16.74 10.57 16.07L10.23 15.79C9.52 15.17 8.39 15.11 7.59 15.65L2.67 18.95L2.56 19.03C2.19 18.23 2 17.28 2 16.19V7.81C2 4.17 4.17 2 7.81 2H16.19C19.83 2 22 4.17 22 7.81Z"
              fill="#85858D" />
            <path
              d="M9.00012 10.38C10.3146 10.38 11.3801 9.31444 11.3801 8C11.3801 6.68556 10.3146 5.62 9.00012 5.62C7.68568 5.62 6.62012 6.68556 6.62012 8C6.62012 9.31444 7.68568 10.38 9.00012 10.38Z"
              fill="#85858D" />
            <path
              d="M21.9996 13.9V16.19C21.9996 19.83 19.8296 22 16.1896 22H7.80957C5.25957 22 3.41957 20.93 2.55957 19.03L2.66957 18.95L7.58957 15.65C8.38957 15.11 9.51957 15.17 10.2296 15.79L10.5696 16.07C11.3496 16.74 12.6096 16.74 13.3896 16.07L17.5496 12.5C18.3296 11.83 19.5896 11.83 20.3696 12.5L21.9996 13.9Z"
              fill="#85858D" />
          </svg>
          <p>{{imageName}}</p>
        </div>

        <a (click)="closeUpload()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7.75781 16.2426L16.2431 7.75736" stroke="#1A1A1F" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M16.2431 16.2426L7.75781 7.75736" stroke="#1A1A1F" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </a>




      </div>

    </div>

    <div class="title-author">
      <div class="div-author">
        <p class="input-title">ავტორი *</p>
        <input type="text" formControlName="author" (input)="validateAuthor($event)" (focus)="addFocusStyles()"
          (blur)="addBlurStyles()" [class.focused]="authorFocus" [class.error-input]="authorValidateError"
          [class.success-input]="authorValidateSuccess" placeholder="შეიყვნეთ ავტორი">
        <div>
          <li class="validation" [class.error]="authorSymbolsError" [class.success]="authorSymbolsSuccess">მინიმუმ 4
            სიმბოლო </li>
          <li class="validation" [class.error]="authorWordsError" [class.success]="authorWordsSuccess">მინიმუმ ორი
            სიტყვა
          </li>
          <li class="validation" [class.error]="authorGeorgianError" [class.success]="authorGeorgianSuccess">მხოლოდ
            ქართული სიმბოლოები</li>
        </div>

      </div>

      <div class="div-title">
        <p class="input-title">სათაური *</p>
        <input type="text" formControlName="title" placeholder="შეიყვნეთ სათაური" (input)="validateTitle($event)"
          (focus)="addFocusTitle()" (blur)="addBlurTitle()" [class.focused]="titleFocus"
          [class.error-input]="titleValidateError" [class.success-input]="titleValidateSuccess">
        <div>
          <li class="validation no-bullet" [class.error]="titleSymbolsError" [class.success]="titleSymbolsSuccess">
            მინიმუმ 2 სიმბოლო</li>
        </div>

      </div>

    </div>

    <div class="blog-description">
      <p class="input-title">აღწერა *</p>
      <textarea class="desc-textarea" formControlName="description" placeholder="შეიყვნეთ აღწერა"
        (input)="validateDesc($event)" (focus)="addFocusDesc()" (blur)="addBlurDesc()" [class.focused]="descFocus"
        [class.error-input]="descValidateError" [class.success-input]="descValidateSuccess"></textarea>
      <li class="validation no-bullet" [class.error]="descSymbolsError" [class.success]="descSymbolsSuccess"> მინიმუმ 2
        სიმბოლო</li>
    </div>


    <div class="title-author">
      <div class="div-date">
        <p class="input-title">გამოქვეყნების თარიღი *</p>
        <input type="date" formControlName="publish_date" (input)="validateDate($event)" (focus)="addFocusDate()"
          (blur)="addBlurDate()" [class.focused]="dateFocus" [class.success-input]="dateValidateSuccess">
      </div>

    </div>

    <div class="title-author">
      <div class="div-date">
        <p class="input-title">ელ ფოსტა</p>
        <input type="text" formControlName="email" placeholder="Example@redberry.ge" (input)="validateEmail($event)"
          (focus)="addFocusEmail()" (blur)="addBlurEmail()" [class.focused]="emailFocus"
          [class.error-input]="emailDifferentError" [class.success-input]="emailDifferentSuccess">
        <li style="height: 48px;" class="validation no-bullet" *ngIf="!emailError"></li>
        <li style="height: 48px; color: rgba(234, 25, 25, 1);" class="validation no-bullet" *ngIf="emailError">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="20" transform="translate(20 20) rotate(180)" fill="white" />
            <path
              d="M10.0002 1.66666C5.41683 1.66666 1.66683 5.41666 1.66683 10C1.66683 14.5833 5.41683 18.3333 10.0002 18.3333C14.5835 18.3333 18.3335 14.5833 18.3335 10C18.3335 5.41666 14.5835 1.66666 10.0002 1.66666Z"
              fill="#EA1919" />
            <path d="M10 13.3333L10 9.16666" stroke="white" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M10.0044 6.66667L9.99691 6.66667" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg> მეილი უნდა მთავრდებოდეს @redberry.ge-ით
        </li>
      </div>

    </div>


    <button type="submit" [disabled]="isButtonDisabled()" style="width: 50%; margin-left: auto;"
      [class.disabled-button]="isButtonDisabled()">გამოქვეყნება</button>



  </form>

</section>




<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="moduri">
      <a type="button" class="close" data-dismiss="modal" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M7.75732 16.2426L16.2426 7.75736" stroke="#1A1A1F" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M16.2426 16.2426L7.75732 7.75736" stroke="#1A1A1F" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>

      <div>
        <div class="success-modal flex-centered">
          <div class="success-modal-top flex-centered">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
              <path
                d="M32.0002 58.6667C46.6668 58.6667 58.6668 46.6667 58.6668 32C58.6668 17.3333 46.6668 5.33334 32.0002 5.33334C17.3335 5.33334 5.3335 17.3333 5.3335 32C5.3335 46.6667 17.3335 58.6667 32.0002 58.6667Z"
                fill="#14D81C" />
              <path d="M20.6665 32L28.2132 39.5467L43.3332 24.4533" stroke="white" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <h2 class="success-login">ჩანაწერი წარმატებით დაემატა</h2>
          </div>
          <a type="submit" class="proceed" style="text-align: center;" routerLink="/" data-dismiss="modal">
            მთავარ გვერდზე დაბრუნება
          </a>

        </div>


      </div>

    </div>
  </div>
</div>