.modal-content{
  width: 480px;
  height: 300px;
}


.modal-title{
  margin-top: 30px;
  text-align: center;
}


// .darkModal{
//   background-color: rgba(37, 37, 37, 1);
// }

// .color{
//   color: white;
// }

// @media only screen and (max-width: 400px) {
//   #name{
//     width: 300px;
//   }
  
// }