<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h3 class="modal-title">შესვლა</h3>
      <form class="addform">
        <span>ელ ფოსტა</span>
        <input ngModel type="text" name="name" id="name" placeholder="input your note" required />
        <div class="modal-footer">
          <!-- <button type="button" id="add-employee-form" class="btn btn-secondary close" data-dismiss="modal">
            Cancel
          </button> -->
          <button type="submit" class="btn btn-primary">
            შესვლა
          </button>
        </div>
      </form>
    </div>
  </div>
</div>