.modal-content{
  width: 480px;
  height: 300px;

}



.modal-title{
  margin-top: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 35px;
}


.close{
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 30px;
  text-decoration: none;
  color: rgba(26, 26, 31, 1);
  font-weight: 100;
  
}

.loginForm{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 7px;
  margin-bottom: 20px;
}

.login , .proceed{
  margin: 0 auto;
  width: 100%;
  background-color: rgba(93, 55, 243, 1);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  color: white;
}

#name{
  border-radius: 12px;
  padding: 10px;
  
  outline: none;
}

.noerror{
  border: 1px solid rgba(228, 227, 235, 1) ;
  background-color: rgba(252, 252, 253, 1);
}



.elfost{
  font-weight: 500;
  font-size: 14px;
}

.error-message{
  height: 20px;
  color: rgba(234, 25, 25, 1); 
  font-size: 12px; 
  font-weight: 400;
  margin-bottom: 10px;
}

.error{
  border: 1px solid rgba(234, 25, 25, 1); 
  background-color: rgba(250, 242, 243, 1);
}


//success modal
.flex-centered{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.success-modal{
  gap: 40px;
  margin-top: 73px;
}

.success-modal-top{
  gap: 16px;
}

.proceed{
  width: 90%;
}


.success-login{
  font-weight: 700;
  font-size: 20px;
  color: rgba(26, 26, 31, 1);
}

.focused {
  border: 1px solid rgba(93, 55, 243, 0.812); /* Change the border color when focused */
  background-color:rgba(247, 247, 255, 1) ; /* Change the background color when focused */
}