.blog{
  width: 100%;
  

}

.blog-image{
  width: 100%;
  height: 500px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.blog-author{
  font-weight: 500;
  margin: 0;
}

.date{
  font-size: 12px;
  font-weight: 400;
  color: rgba(133, 133, 141, 1);

}
.blog-title{
  font-size: 27px;
  line-height: 28px;
  word-break: break-all;
  margin-bottom: 16px;
}

.texts{
  width: 100%;
  margin-bottom: 16px;
}



.cats button{
  margin-bottom: 21px;
  margin-right: 16px;
  font-size: 12px;
}

.blog-desc{
  color: rgba(64, 64, 73, 1);
  word-break: break-all;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the content to two lines */
  -webkit-box-orient: vertical;
}



.details{
  color: rgba(93, 55, 243, 1);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}



.details:hover {
  color: rgba(93, 55, 243, 0.716);
}

.details:hover .arrow path {
  fill: rgba(93, 55, 243, 0.716);
}

@media only screen and (max-width: 1700px) {
  .blog-image{
    height: 450px;
  }
}


@media only screen and (max-width: 1500px) {
  .blog-image{
    height: 400px;
  }


}

@media only screen and (max-width: 1300px) {
  .blog-image{
    height: 330px;
  }

}